/* add custom styles */
.icon {
  width: 50px;
  height: 50px;
}

.highlighted {
  box-shadow: 5px 5px 5px #06FF28;
}

.panel-title-p1, .panel-title-p2{
  color: white;
}

main {
  margin-left: 5%;
}

.game-space {
  border: 1px solid #033c73;
  border-radius: 5%;
}

img {
  width: 150px;
  height: auto;
}